.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 50px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
}

.form-checkbox {
    display: flex;
    align-items: center;
    grid-gap: 10px;
}

.form-checkbox span {
    font-size: 14px;
    color: #777;
}